/* responsive */
.box_sp {display: none;}
.box_pc {display: block;}

@media screen and (min-width: 769px) {
nav ul li a:hover{border-color: rgba(255, 255, 255, 0.2)}
nav .nav_ct .btn_mail a:hover{background: #fff;color: #333}
nav .nav_ct .btn_try a:hover{background: transparent;color: #fa5a00}

.btn:hover::before{right: -25px}
.btn a:hover{background: none;color: #fff;}
.box06 .btn a:hover{background: none;color: #0095fb;}

#btn_top:hover,
.slick-arrow:hover,
.box01 .box01_link p a:hover,
footer .foot_info ul li:hover{opacity: 0.7;}
.box02 ul li:hover{opacity: 1;}


.box01 .box01_btn p a:hover{background: #fff;color: #3c3c3c}
.box01 .box01_btn .btn_re a:hover{background: none;color: #fff;}

.box10 ul li .box_price .link a:hover{background: #0095fb;color: #fff;}
.box10 ul li .box_price:hover{border:2px solid #2d3345;box-shadow: 0 3px 30px 0 rgba(0,0,0,0.15)}
.box11 .box11_ct .box11_form .link a:hover{background: #fff;color: #2d3345;}
}

@media screen and (max-width: 1200px) {
    #wrapper,
    header,
    #main,
    footer,
    .inner{width: 100% !important;min-width: inherit !important;}
    .inner {box-sizing: border-box;padding: 0 15px;}

    .btn.slick-next,
    .btn.slick-prev{width: 60px;left: calc(50% - 145px)}
    .btn.slick-next{left: inherit;right: calc(50% - 145px)}
    .slick-prev::after{width: 100px;left: 100px}

}

@media screen and (max-width: 768px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    input,
    button,
    textarea,
    select,
    p,
    blockquote,
    th,
    td,
    pre,
    address,
    li,
    dt,
    dd{font-size: 14px;line-height: 1.75em;}

    .box_sp {display: block;}
    .box_pc {display: none;}
    /*---*/
    
    #btn_top{width: 40px;bottom: 35px;height: 40px;}
    /*==========================================================================*/
    /*                               ALL                                        */
    /*==========================================================================*/
    header.active{background: rgba(0, 0, 0, 0.5)}
    header #logo{width: 150px}
    nav{height: 60px;display: flex;align-items: center;}
    nav .nav_ct ul{position: fixed;top: 100px;left: 0;opacity: 0;visibility: hidden;width: 100%;height: calc(100vh - 60px);background: #2d3345;transition: all ease 0.5s;display: flex;flex-direction: column;z-index: -1;justify-content: flex-start;align-items: flex-start;}
    nav ul li{margin: 0 auto;width: 100%;text-align: center;border-bottom: 1px solid #0095fb}
    nav ul.active{top: 60px;opacity: 1;visibility: visible;z-index: 10;}
    nav .nav_ct ul li a{color: #fff;padding: 15px;font-size: 16px;background: #2d3345;}

    .btn a{font-size: 16px;width: 290px;padding: 5px 10px;display: flex;align-items: center;justify-content: center;text-align: center;height: 50px;margin: 0 auto}

    
    .ttl{margin-bottom: 30px}
    .ttl h3{}

    .slick-arrow{width: 40px;height: 40px;top: calc(50% - 20px)}
    /*==========================================================================*/
    /*                               MAIN                                       */
    /*==========================================================================*/
    .box01{padding-top: 150px}
    .box01 .box01_txt h2{font-size: 32px;}
    .box01 .box01_link{margin: 30px auto;}
    .box01 .box01_btn{width: 100%}
    
    .box02{padding: 15px 0 0}
    .box02 ul{margin: 0 auto;flex-wrap: wrap;justify-content: center;}
    .box02 ul li{width: 32%;margin:0 2% 15px 0}
    .box02 ul li:nth-child(3n + 3),
    .box02 ul li:last-child{margin-right: 0}

    .box03{padding: 50px 0}
    .box03 ul{}
    .box03 ul li,
    .box03 ul li.img_r{width: 490px;margin: 0 auto;flex-direction: column;}
    .box03 ul li .box03_img{width: 100%;order:1;}
    .box03 ul li .box03_txt{width: 100%;order:2;padding: 10px 30px 30px}
    .box03 ul li .box03_txt .big{font-size: 24px}
    .box03 ul li .box03_txt .light{font-size: 18px;}

    .box04{padding: 30px 0}
    .box04 .box04_ct{width: 100%;flex-direction: column;align-items: center;justify-content: center;text-align: center;}
    .box04 .box04_img{width: 150px;margin: 0 auto 15px;}
    .box04 .box04_txt{width: 100%}

    .box06{padding: 50px 0}
    .box06 .box06_list ul.slick-dots,
    .box06 .btn{margin-top: 30px}

    .box07{padding: 50px 0 300px}
    .box07 .box07_txt .btn a{padding: 5px 10px}

    .box08 .box08_item{padding: 40px 0 0;justify-content: center;align-items: center;flex-direction: column-reverse;}
    .box08 .box08_item_l{border-bottom: none;}
    .box08 .box08_img{width: 100%}
    .box08 .box08_txt{width: 100%;padding: 0 15px 30px}
    .box08 .box08_txt ul{margin-top: 30px}
    .box08 .box08_txt ul li{margin-bottom: 20px}
    .box08 .box08_txt ul li p span{margin-bottom: 0}

    .box09{padding: 30px 0;text-align: center;}
    .box09 p img{max-width: 50px}
    .box10{padding: 90px 0 0}
    .box10 ul{align-items: flex-start;justify-content: space-between;flex-wrap: wrap;}
    .box10 ul li{width: 290px;margin-bottom: 50px}
    .box10 ul li .box_price p{padding: 0 15px}
    .box10 ul li .box_price .big{padding: 10px 0}
    .box10 ul li .box_price .price{margin: 30px auto 20px;padding: 0 15px}
    .box10 ul li .box_price .price span{font-size: 32px}
    .box10 ul li .box_price .month{width: calc(100% - 30px);margin: 15px auto;}
    .box10 ul li .box_data{margin-top: 15px}
    
    .box11{padding: 50px 0}
    .box11 .box11_ct{flex-direction: column;}
    .box11 .box11_ct .ttl{width: 100%}
    .box11 .box11_ct .box11_form{width: 100%}
    .box11 .box11_ct .box11_form_bg{padding: 30px;}
    .box11 .box11_ct .box11_form .link{margin-top: 5px}
    .box11 .box11_ct .box11_form input{padding: 10px 15px;}
    footer{padding-bottom: 10px}
    footer .inner{padding: 0}
    footer .foot_ct{padding: 30px 0 0;margin-bottom: 10px;flex-direction: column;}
    footer .foot_info{width: 100%;text-align: center;}
    footer .foot_info p{margin-bottom: 5px}
    footer .foot_info ul{justify-content: center;}
    footer .foot_link{width: 100%;padding: 0;margin-top: 30px;flex-direction: column;}
    footer .foot_link ul{width: 100%;}
    footer .foot_link ul li{width: 100%;border-top: 1px solid rgba(255,255,255,0.15);padding: 10px 15px}
    footer .foot_link ul li a{display: block;}
    footer address{padding: 0 15px;text-align: center;}

    /* FONT SIZE ALL */
    .ttl h3,
    .box03 .ttl h3,
    .box06 .ttl h3,
    .box11 .box11_ct .ttl h3,
    .box07 .box07_txt .big,
    .box08 .box08_txt .big,
    .box10 ul li .box_price .big{font-size: 24px;line-height: 1.5em}

    .ttl p,
    .box01 .box01_txt p,
    .box01 .box01_link p a,
    .box01 .box01_btn p a,
    .box04 .box04_txt .name,
    .box07 .box07_txt p,
    .box08 .box08_txt .light,
    .box08 .box08_txt ul li p span,
    .box11 .box11_ct .box11_form .big{font-size: 18px;}

    .box04 .box04_txt .class,
    .box07 .box07_txt .btn a,
    .box11 .box11_ct .ttl p,
    footer .foot_info .big,
    footer .foot_link ul li{font-size: 16px;}

    .box03 ul li .box03_txt p,
    .box10 ul li .box_price p,
    .box10 ul li .box_data ol li,
    .box11 .box11_ct .box11_form input,
    .box11 .box11_ct .box11_form .link a,
    footer .foot_info p{font-size: 14px}   
}

@media screen and (max-width: 640px) {
    .box10{padding-top: 50px}
    .box10 ul{justify-content: center;align-items: center;}
    .box10 ul li.popular{padding-top: 30px}
    .box10 ul li.popular label{top: -30px}
}
@media screen and (max-width: 560px) {
    
}

@media screen and (max-width: 480px) {
    nav .nav_ct .btn_mail,
    nav .nav_ct .btn_try{display: none}
    .box01 .box01_btn{flex-direction: column;margin-bottom: 30px}
    .box01 .box01_btn p{margin-bottom: 20px;}
    .box01 .box01_link{width: 100%;flex-direction: column;padding: 15px 15px 0}
    .box01 .box01_link p{margin-bottom: 15px;}

    .box03 ul li, .box03 ul li.img_r{width: 100%}
}

@media screen and (max-width: 420px) {
    .box01 .box01_txt h2{font-size: 30px;}
    .box03 ul li .box03_txt{padding: 10px 15px 15px}
    .box11 .box11_ct .box11_form_bg{padding:  15px}
}

@media screen and (max-width: 380px) {
    
}

@media screen and (max-width: 360px) {

}