@charset "UTF-8";
@import "base.css";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700,900&display=swap&subset=latin-ext,vietnamese');

/**
 * Bump up IE to get to 13px equivalent for these fixed-width elements
 */
pre,code,kbd,samp{ font-family:monospace; font-size: 100%; *font-size:108%; line-height: 1.4; color: #2d3345; }

/* Font-size fixed */
li li,li dt,li dd,li input,li select,li button,li textarea,li p,li th,li td,
dt li,dt dt,dt dd,dt input,dt select,dt button,dt textarea,dt p,dt th,dt td,
dd li,dd dt,dd dd,dd input,dd select,dd button,dd textarea,dd p,dd th,dd td,
th li,th dt,th dd,th input,th select,th button,th textarea,th p,th th,th td,
td li,td dt,td dd,td input,td select,td button,td textarea,td p,td th,td td,
p input{ font-size: 100%; }
/*==========================================================================*/
/*                           Common-Setting                                 */
/*==========================================================================*/

h1, h2, h3, h4, h5, h6, input, button, textarea, select, p, blockquote, th, td, pre, address, li, dt, dd {
	font-size: 150%;
	-webkit-text-size-adjust: none;
	font-weight: 400;
}
*,::after,::before{box-sizing: border-box;outline: none;} 
img {vertical-align: middle;max-width: 100%;}
table {width: 100%;font-size:inherit; font: 100%; color: #2d3345; line-height: 1.4; }
p {margin: 0 0 1.5em;}
div > p:last-child{margin-bottom: 0}
input,
select{height: 35px;border:1px solid #999;padding: 5px;font-size: 14px;background: #fff;border-radius: 5px;max-width: 100%}
/*==========================================================================*/
/*                            Container                                     */
/*==========================================================================*/
html {background: none;}
body {color: #2d3345;font-family: 'Roboto Condensed', sans-serif;font-size: 14px;}
body.active{overflow: hidden}
#wrapper{min-width:1260px;overflow: hidden}
.inner {width:1170px;margin: 0 auto;padding: 0 15px}
a{text-decoration: none;color: #2d3345;}
a:hover{color: #2d3345;}

p,
dd,
dt,
li,
th,
td{line-height: 1.5em;font-size: 14px;}

.bold{font-weight: bold}
.red{color: red;}

/*==========================================================================*/
/*                               Header                                     */
/*==========================================================================*/
header{position: fixed;top: 0;left: 0;width: 100%;z-index: 9;transition: all ease 0.3s}
header.active{background: #2d3345}
header.active #logo{width: 150px;padding: 10px 0;transition: all ease 0.3s}
nav{z-index: 6;}
nav.active ul{border-bottom: none;}
nav .inner{display: flex;align-items: center;justify-content: space-between;}
nav #logo{width: 200px;padding: 20px 0}
nav #logo a{width: 100%;display: block}
nav .nav_ct{width: calc(100% - 200px);display: flex;align-items: center;justify-content: flex-end;padding-right: 45px}
nav .nav_ct ul{display: flex;justify-content: flex-end;align-items: center;flex-shrink: 0}
nav .nav_ct ul li{margin: 0 15px 0 0;}
nav .nav_ct ul li a{text-transform: capitalize;padding: 0;font-weight: 300;display: block;position: relative;color: #fff;border: 1px solid rgba(255, 255, 255, 0);transition: all ease 0.3s;padding: 5px 15px}
nav .nav_ct p{margin-bottom: 0;}
nav .nav_ct p a{transition: all ease 0.3s;border-radius: 3px;padding: 5px 15px;font-weight: bold;letter-spacing: 0.025em}
nav .nav_ct .btn_mail a{background: transparent;color: #fff;border:1px solid #fff}
nav .nav_ct .btn_try a{background: #fa5a00;border:1px solid #fa5a00;color: #fff;margin-left: 10px;}

.btn_open{width: 60px;height:60px;margin: 0;position: fixed;top: 0px;right: 0;z-index: 9;}
.btn_side{display:block;cursor:pointer;width:100%;height:100%;text-align:center;z-index:9999;position:relative;margin:0 auto;position:absolute;border-radius:0}
.btn_side span{display:block;position:absolute;height: 2px;width:15px;background:#fff;opacity:1;transform:rotate(0deg);transition:.3s ease-in-out}
.btn_side span:nth-child(even){left:calc(50% + 1px);}
.btn_side span:nth-child(odd){left:calc(50% - 14px);}
.btn_side span:nth-child(1),.btn_side span:nth-child(2){top:21px}
.btn_side span:nth-child(3),.btn_side span:nth-child(4){top:30px}
.btn_side span:nth-child(5),.btn_side span:nth-child(6){top:39px}

.btn_side.open span:nth-child(1),.btn_side.open span:nth-child(6){transform:rotate(45deg)}
.btn_side.open span:nth-child(2),.btn_side.open span:nth-child(5){transform:rotate(-45deg)}
.btn_side.open span:nth-child(1){left:calc(50% - 12px);top:25px}
.btn_side.open span:nth-child(2){left:calc(50% - 2px);top:25px}
.btn_side.open span:nth-child(3){left:-50%;opacity:0}
.btn_side.open span:nth-child(4){left:100%;opacity:0}
.btn_side.open span:nth-child(5){left:calc(50% - 12px);top:36px}
.btn_side.open span:nth-child(6){left:calc(50% - 2px);top:36px}

#btn_top{position:fixed;right: 15px;bottom: 30px;z-index: 9;cursor: pointer;box-sizing: border-box;margin-bottom: 0;display: none;width: 60px;height: 60px;border:1px solid #000;border-radius: 50%;display: flex;justify-content: center;align-items: center;text-align: center;padding-left: 5px;}

/*==========================================================================*/
/*                               ALL                                        */
/*==========================================================================*/
/* FIX FONT + PADDING */
.pdb30{padding: 0 0 30px}
.pdb50{padding: 0 0 50px;}
.mgb0{margin-bottom: 0;}
.mgb30{margin-bottom: 30px;}
.mgb50{margin-bottom: 50px;}
.fs12{font-size: 12px;}
.fs16{font-size: 16px;}

.btn{position: relative;display: block;width: auto;text-align: center;}
.btn a{width: auto;border: 2px solid #fff;font-size: 24px;position: relative;background: #fff;font-weight: bold;display: inline-block;padding: 15px 40px;border-radius: 50px;transition: all ease 0.3s;}

/* SLICK ARROW */
.slick-arrow{width: 60px;height: 60px;position: absolute;top:calc(50% - 30px);left: 0;z-index: 1;background: none;border: none;transition: all ease-in-out 0.4s;cursor: pointer;}
.slick-next{left: inherit;right: 0;}

/*==========================================================================*/
/*                               Main                                       */
/*==========================================================================*/
#main{position: relative;z-index: 2;}
.ttl{position: relative;text-align: center;margin-bottom: 50px}
.ttl h3{line-height: 1.2em;font-size: 54px;z-index: -1;letter-spacing: 0.05em;font-weight: bold;}
.ttl p{font-size: 24px;}

.ttl.center{}
.ttl.center h3{width: 100%;left: 0}
.ttl.center::before{left: calc(50% - 5px)}
.ttl.center::after{left: calc(50% - 28px)}


.box01{background: url('../images/box01_bg.jpg') center no-repeat;background-size: cover;position: relative;z-index: 1;padding-top: 200px;}
.box01::before{background: linear-gradient(rgba(0, 64, 255, 0.5) 0%, rgb(0, 231, 255) 100%);width: 100%;height: 100%;position: absolute;top: 0;left: 0;z-index: -1;content: '';}
.box01 .box01_txt{text-align: center;color: #fff;}
.box01 .box01_txt h2{font-size: 54px;font-weight: bold;color: #fff;line-height: 1.3em;}
.box01 .box01_txt p{font-weight: 300;font-size: 24px;}

.box01 .box01_link{border-top: 1px solid rgba(255, 255, 255, 0.2);border-bottom: 1px solid rgba(255, 255, 255, 0.2);padding: 20px 15px;width: 500px;margin: 40px auto 50px;display: flex;align-items: center;justify-content: space-between;}
.box01 .box01_link p{margin-bottom: 0}
.box01 .box01_link p a{color: #fff;font-size: 24px;}
.box01 .box01_link p a img{margin-right: 10px}

.box01 .box01_btn{width: 660px;display: flex;align-items: center;justify-content: space-between;margin: 0 auto 50px;}
.box01 .box01_btn p{margin-bottom: 0}
.box01 .box01_btn p a{border:2px solid #fff;color: #fff;font-size: 28px;padding: 15px 40px;border-radius: 50px;background: none;font-weight: bold;transition: all ease 0.3s;display: inline-block;}
.box01 .box01_btn .btn_re a{background: #fff;color: #2d3345}

.box02{background: #2d3345;padding: 40px 0}
.box02 ul{display: flex;justify-content: center;margin:0 5px;}
.box02 ul li{width: 160px;opacity: 0.5;transition: all ease 0.3s;margin: 0 10px;}

.box03{padding: 100px 0;}
.box03 .ttl{}
.box03 .ttl h3{font-size: 42px;}
.box03 ul{}
.box03 ul li{display: flex;}
.box03 ul li.img_r{flex-direction: row-reverse;}
.box03 ul li .box03_img{width: 50%;}
.box03 ul li .box03_txt{background: #f4f5f5;width: 50%;padding: 50px;text-align: center;display: flex;justify-content: center;align-items: center;flex-direction: column;}
.box03 ul li .box03_txt p{font-size: 16px;}
.box03 ul li .box03_txt .big{font-size: 32px;font-weight: 700;margin-bottom: 15px}
.box03 ul li .box03_txt .light{font-size: 24px;font-weight: 300}

.box04{background: #f4f5f5;padding: 50px}
.box04 .box04_ct{display: flex;justify-content: center;align-items: center;width: 850px;margin: 0 auto;}
.box04 .box04_img{width: 150px;border-radius: 50%;overflow: hidden;margin-right: 20px}
.box04 .box04_txt{width: calc(100% - 170px)}
.box04 .box04_txt p{margin-bottom: 0}
.box04 .box04_txt .name{font-size: 20px;font-weight: 900}
.box04 .box04_txt .class{font-size: 18px;font-weight: 300;font-style: italic;margin-bottom: 20px}
.box04 .box04_txt .des{font-size: 16px;color: #999}

.box05{padding: 100px 0}
.box05 .ttl h3{font-size: 42px;margin-bottom: 15px}
.box05 .ttl p{font-weight: 300;font-size: 18px}

.box06{background: #2d3345;padding: 100px 0}
.box06 .ttl{color: #fff;}
.box06 .ttl h3{font-size: 42px;}
.box06 .ttl p{font-weight: 300}
.box06 .box06_list{}
.box06 .box06_list ul{}
.box06 .box06_list ul li{margin-right: 10px;opacity: 0.3;transform: scale(0.9)}
.box06 .box06_list ul li.slick-current{opacity: 1;transform: scale(1)}
.box06 .btn{margin: 50px auto 0;}
.box06 .btn a{background: #0095fb;color: #fff;border-color: #0095fb;}

.box06 .box06_list ul.slick-dots{display: flex;justify-content: center;margin-top: 50px}
.box06 .box06_list ul.slick-dots li{font-size: 0;background: none;border:none;position: relative;margin: 0 5px;border-radius: 50%;opacity: 1;transform: scale(1);width: 10px;height: 10px;}
.box06 .box06_list ul.slick-dots li button{background: none;width: 0;height: 0;border:none;opacity: 0;}
.box06 .box06_list ul.slick-dots li::before{width: 10px;height: 10px;background: #999;content: '';position: absolute;top: 0;left: 0;border-radius: 50%;}
.box06 .box06_list ul.slick-dots li:hover::before,
.box06 .box06_list ul.slick-dots li.slick-active::before{background: #fff;cursor: pointer;}

.box07{background: url('../images/box07_bg.jpg') center bottom no-repeat;background-size: cover;padding: 150px 0 450px}
.box07 .ttl{color: #fff;margin-bottom: 15px}
.box07 .box07_txt{text-align: center;}
.box07 .box07_txt p{font-weight: 300;margin-bottom: 0;color: #fff;font-size: 20px}
.box07 .box07_txt .big{display: inline-block;margin: 30px auto;padding: 15px 30px 0;border-top: 1px solid rgba(255, 255, 255, 0.2);font-size: 42px;font-weight: bold}
.box07 .box07_txt .btn a{font-size: 20px;padding: 5px 40px;}

.box08{}
.box08 .box08_item{display: flex;justify-content: flex-end;align-items: center;flex-direction: row-reverse;padding: 150px 0 ;position: relative;overflow: hidden;}
.box08 .box08_img{width: 50%;display: flex;height: 100%;align-items: flex-end;}
.box08 .box08_txt{width: 50%;padding: 0 10vw}
.box08 .box08_txt p{margin-bottom: 0}
.box08 .box08_txt .big{font-size: 42px;font-weight: bold;}
.box08 .box08_txt .light{font-size: 24px;font-weight: 300}
.box08 .box08_txt ul{margin-top: 60px;}
.box08 .box08_txt ul li{display: flex;justify-content: center;margin-bottom: 40px}
.box08 .box08_txt ul li p{}
.box08 .box08_txt ul li .img{width: 50px;margin-right: 15px;}
.box08 .box08_txt ul li .txt{width: calc(100% - 70px);margin-right: 15px;}
.box08 .box08_txt ul li p span{font-size: 24px;font-weight: bold;display: block;margin-bottom: 10px}

.box08 .box08_item_l{background: #f4f5f5;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;flex-direction: row}
.box08 .box08_item_l .box08_img{left: 0;right: inherit;}
.box08 .box08_item_l .box08_img p{display: flex;justify-content: flex-end;align-items: center;}

.box09{background: #0095fb;padding: 50px 0}

.box10{padding: 150px 0}
.box10 ul{display: flex;justify-content: space-between;align-items: center;}
.box10 ul li{width: calc((100% - 45px) / 4);text-align: center;}
.box10 ul li .box_price{border:2px solid #e5e5e5;border-radius: 5px;transition: all ease 0.3s;padding-bottom: 30px}
.box10 ul li .box_price p{margin-bottom: 0;padding: 0 30px;font-size: 16px;color: #999}
.box10 ul li .box_price .big{font-size: 32px;font-weight: bold;padding: 15px 0;border-bottom: 2px solid #e5e5e5;color: #2d3345}
.box10 ul li .box_price .price{margin: 50px 0}
.box10 ul li .box_price .price span{font-size: 42px;font-weight: 400;color: #2d3345}
.box10 ul li .box_price .month{margin: 15px auto 30px;padding-top: 15px;border-top: 1px solid #ccc;width: calc(100% - 60px);}
.box10 ul li .box_price .link{text-align: center;}
.box10 ul li .box_price .link a{border:1px solid #0095fb;color: #0095fb;padding: 5px 20px;margin: 0 auto;border-radius: 5px;transition: all ease 0.3s;}

.box10 ul li .box_data{margin-top: 30px}
.box10 ul li .box_data ol{width: 100%;padding:  0 30px}
.box10 ul li .box_data ol li{text-align: center;margin-bottom: 10px;padding-bottom: 10px;border:none;border-bottom: 1px solid #e5e5e5;width: 100%;color: #666;font-size: 16px;color: #999}
.box10 ul li .box_data ol li:last-child{border-bottom: none;}

.box10 ul li.popular label{position: absolute;top: -50px;left: calc(50% - 50px);width: 100px;height: 30px;border-radius: 5px;background: #fa5a00;color: #fff;display: flex;align-items: center;justify-content: center;color: #fff;text-transform: capitalize;font-size: 16px;}
.box10 ul li.popular label::before{width: 0;height: 0;border-style: solid;border-width: 10px 10px 0 10px;border-color: #fa5a00 transparent transparent transparent;position: absolute;bottom: -10px;left: calc(50% - 10px);content: '';}
.box10 ul li.popular .box_price{border-color: #0095fb}
.box10 ul li.popular .box_price .link a{background: #0095fb;color: #fff;}

.box11{background: #f4f5f5;padding: 100px 0}
.box11 .box11_ct{display: flex;justify-content: space-between;align-items: center;}
.box11 .box11_ct .ttl{width: 40%;text-align: left;}
.box11 .box11_ct .ttl h3{font-size: 36px;margin-bottom: 20px;}
.box11 .box11_ct .ttl p{font-weight: 300;font-size: 20px}
.box11 .box11_ct .box11_form{width: 50%;}
.box11 .box11_ct .box11_form_bg{border:2px solid #0095fb;box-shadow: 0 3px 30px 0 rgba(0,0,0,0.15);background: #fff;border-radius: 10px;text-align: center;padding: 50px;width: 100%;margin-bottom: 15px;}
.box11 .box11_ct .box11_form p{}
.box11 .box11_ct .box11_form .sm{text-align: center;font-size: 12px;font-weight: 300}
.box11 .box11_ct .box11_form .big{font-size: 24px;font-weight: bold;}
.box11 .box11_ct .box11_form .link{text-align: center;margin: 20px auto 0;}
.box11 .box11_ct .box11_form .link a{background: #2d3345;border-radius: 3px;padding: 10px 20px;font-size: 18px;font-weight: bold;color: #fff;border: 2px solid #2d3345;display: inline-block}
.box11 .box11_ct .box11_form input{font-size: 18px;padding: 15px 25px;border:1px solid #ccc;margin-bottom: 10px;width: 100%;height: auto;border-radius: 3px}
.box11 .box11_ct .box11_form input::placeholder{color: #999;font-weight: 300}
/*==========================================================================*/
/*                              footer                                      */
/*==========================================================================*/
footer{position: relative; z-index: 4;background: #2d3345;padding-bottom: 50px}
footer .foot_ct{border-bottom: 1px solid rgba(255,255,255,0.15);display: flex;padding: 50px 0;display: flex;justify-content: space-between;margin-bottom: 30px;}
footer .foot_info{width: 50%}
footer .foot_info p{margin-bottom: 20px;color: #fff;font-size: 16px;opacity: 0.5;}
footer .foot_info p a{width: 150px;display: inline-block;}
footer .foot_info .big{font-size: 20px;font-weight: bold;opacity: 1;margin-bottom: 0}
footer .foot_info ul{display: flex;}
footer .foot_info ul li{width: 30px;margin-right: 10px}

footer .foot_link{width: 50%;display: flex;justify-content: space-between;padding-right: 50px}
footer .foot_link ul{display: flex;flex-direction: column}
footer .foot_link ul li{margin-bottom: 0px;opacity: 1;color: #fff;font-size: 18px;font-weight: bold}
footer .foot_link ul li:last-child{margin: 0}
footer .foot_link ul li a{color: #fff;text-transform: capitalize;font-size: 14px;opacity: 0.5;font-weight: 400}
footer address{color: #fff;opacity: 0.5;font-size: 14px;}

/* FIREFOX CSS */
@supports (-moz-appearance:none) and (-webkit-appearance:none)
{
  
}

/* IE STUPID CSS */
@media screen\0 {
	
}

/* EDGE 12+ CSS */
@supports (-ms-ime-align:auto) {
	
}



